@import "tailwindcss";

:root {
  --background: #fafafa;
  --primary: #09090b;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --font-inter-sans: var(--font-inter-sans);
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-inter-sans);
}
