@import "tailwindcss";

:root {
  --primary: #fafafa;
  --secondary: #09090b;
  --hover: #18181b;
  --disabled: #9f9fa9;
  --link: #155dfb;
  --border-primary: #d1d5db;
  --danger-primary: #c10007;
  --danger-secondary: #ffe2e2;
  --success-primary: #00c950;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-hover: var(--hover);
  --color-disabled: var(--disabled);
  --color-link: var(--link);
  --color-border-primary: var(--border-primary);
  --color-danger-primary: var(--danger-primary);
  --color-danger-secondary: var(--danger-secondary);
  --color-success-primary: var(--success-primary);
  --font-inter-sans: var(--font-inter-sans);
  --font-dancing-script: var(--font-dancing-script);
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: var(--font-inter-sans);
}
